In [6]:
s = 'utakarsh'
slice1 = s[:4]
print(slice1)

utak

In [7]:
s = 'digipodium'
slice = s[4:]
print(slice)

podium

In [13]:
name = ' Pandey utakarsh vinod'

In [14]:
fname = name[:9]
lname = name[5:]
print(fname)
print(lname)

 Pandey u
ey utakarsh vinod

string reverse - with slicing

In [15]:
name[::-1]

'doniv hsrakatu yednaP '

In [16]:
# even character of a string
name[::2]

' adyuaas io'

In [18]:
# odd character of a string
name[1::2]

'Pne tkrhvnd'

In [19]:
name[::-1][:5][::-1]

'vinod'

In [20]:
data = '59.30%'
float(data[:-1])

59.3

In [23]:
value = '$541651+'
int(value[1:-1])

541651

In [32]:
x = chr(7500)
print(x)

·µå

In [39]:
y = ord('üí©')
print(y)

128169

In [41]:
w1 = 'jai'
w2 = 'shree'
w3 = 'ram ‚ù§Ô∏èüïâÔ∏è'
msg = w1 + ' ' + w2 + ' ' + w3
print(msg)

jai shree ram ‚ù§Ô∏èüïâÔ∏è

In [43]:
word = 'Hi '
print(word * 3)

Hi Hi Hi

In [45]:
print('_ ' * 15)

_ _ _ _ _ _ _ _ _ _ _ _ _ _ _

In [1]:
w1 = 'Jai'
w2 = 'Bholenath'
msg = w1 + ' ' + w2
print(msg)

Jai Bholenath

In [3]:
word = "hello "
print( word * 10)

hello hello hello hello hello hello hello hello hello hello

In [5]:
print( '_   ' * 10)

_   _   _   _   _   _   _   _   _   _

In [8]:
y = ord('üöÄ')
print(y)

128640

In [9]:
print('üî±  ' * 11)

üî±  üî±  üî±  üî±  üî±  üî±  üî±  üî±  üî±  üî±  üî±

In [14]:
word = "  my name is utkarsh \n   "
print(word * 5)

  my name is utkarsh
     my name is utkarsh
     my name is utkarsh
     my name is utkarsh
     my name is utkarsh

In [16]:
print('üöÄ ' * 8)

üöÄ üöÄ üöÄ üöÄ üöÄ üöÄ üöÄ üöÄ

string methods
-formatting methods
- upper()
- lower()
-capitalize()
-title()
-swapcase()

In [2]:
msg = 'journey before destination'

In [3]:
msg.upper()

'JOURNEY BEFORE DESTINATION'

In [4]:
msg.lower()

'journey before destination'

In [5]:
print(msg)

journey before destination

In [6]:
msgc = msg.capitalize()

In [8]:
msg.swapcase()

'JOURNEY BEFORE DESTINATION'

In [11]:
msg.title()

'Journey Before Destination'

In [12]:
msg.casefold()

'journey before destination'

# string utility methods
 - strip()
 - count()
 - split()
 - join()
 - find()
 - replace()
 - startswith()
 - endswith()

In [14]:
name = input('enter your name:')
print(name)
print(len(name))

   utkarsh
10

In [15]:
clean_name = name.strip()
print(clean_name, len(clean_name))

utkarsh 7

In [16]:
data = 'ajasfjgvcsacsgafajAAAAgfdfyggsvajavjtafagfajafakka'
data.count('j')

6

In [33]:
data = '''Once upon a time there was a hero who saved the world,\n one day he went to sleep. the end'''

In [22]:
data.count('the')

3

In [26]:
words = data.split()
print(words, len(words))

['Once', 'upon', 'a', 'time', 'there', 'was', 'a', 'hero', 'who', 'saved', 'the', 'world.', 'one', 'day', 'he', 'went', 'to', 'sleep.', 'the', 'end'] 20

In [30]:
data.split('e')

['Onc',
 ' upon a tim',
 ' th',
 'r',
 ' was a h',
 'ro who sav',
 'd th',
 ' world, on',
 ' day h',
 ' w',
 'nt to sl',
 '',
 'p. th',
 ' ',
 'nd']

In [31]:
print(data)

Once upon a time there was a hero who saved the world, one day he went to sleep. the end

In [34]:
data.splitlines()

['Once upon a time there was a hero who saved the world,',
 ' one day he went to sleep. the end']

In [36]:
adress_parts = [
    '599/295',
    'buddeshwar',
    'alamnagar',
    'lucknow',
    'pin:226017'
]

In [38]:
print(adress_parts)

['599/295', 'buddeshwar', 'alamnagar', 'lucknow', 'pin:226017']

In [39]:
" ".join(adress_parts)

'599/295 buddeshwar alamnagar lucknow pin:226017'

In [41]:
print('\n' .join(adress_parts))

599/295
buddeshwar
alamnagar
lucknow
pin:226017

In [7]:
message = ' it is a story about a clown it it it'
message.find('is', 3, 10)

4

In [13]:
def find_all(msg, query):
    pos = 0
    idxs = []
    while True:
        pos = msg.find(query, pos)
        if pos >= 0:
            idxs.append(pos)
            pos += 1
        else:
            break
    return idxs

In [14]:
find_all(message, 'it')

[1, 29]